*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.show
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ingredients
{
    width: 20%;
}